.ProposalPage {
  display: flex;
  justify-content: center;
}

.ProposalPage .SignIn.center {
  position: relative;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.arrow {
  width: 15px;
  height: 15px;
  border-top: 3px solid #f38e00;
  border-right: 3px solid #f38e00;
  transform: rotate(-135deg);
  /* font-weight: bold; */
  margin-left: 8px;
}
.returns {
  width: 50px;
  height: 50px;
  border: 3px solid #f38e00;
  border-radius: 50%;
}
.box {
  word-break: break-all;
}

.ProposalDetailPage .ui.grid > .rows > .body-left {
  width: 72% !important;
}

.ProposalDetailPage .ui.grid > .rows > .body-right {
  width: 28% !important;
}
.right-top {
  border: 2px solid #f38e00;
  border-bottom: 1px solid #f38e00;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.right-main {
  border: 2px solid #f38e00;
  border-top: none;
  /* border-radius: 10px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right-bottom {
  border: 2px solid #f38e00;
  border-radius: 10px;
}
/* 进度条 */
.progress,
.progress .progress--bar {
  display: block;
  border-radius: 6px;
  min-height: 6px;
}

.progress.progress--status-0 .progress--bar {
  background-color: #f15828;
}

.progress {
  background-color: #6c6c70;
  width: 100%;
  position: relative;
}
.progress--bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  content: "";
}
.mb-30 {
  margin-bottom: 2rem;
}

.ui.button.ChoiceButton {
  width: 100%;
  background: var(--background);
  border: 2px solid #f38e00;
}

.DetailsSection .ui.button {
  width: 100%;
  margin-top: 8px;
}
.ui.button,
.ui.button.secondary {
  background-color: var(--secondary);
  color: var(--text-on-secondary);
}
.ui.button,
.ui.button.medium {
  padding: 13px 32px;
  border-radius: 6px;
}
.ui.button,
.ui.button.medium,
.ui.button.small {
  font-size: 13px;
  line-height: 18px;
  min-width: 128px;
}

.ui.button {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: var(--font-family);
  text-align: center;
  font-weight: 600;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  margin: 0;
}
.ui.button,
.ui.button:hover {
  box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 0 rgb(34 36 38 / 15%);
}

.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ProposalDetailPage .ui.grid > .rows > .body-left,
  .ProposalDetailPage .ui.grid > .rows > .body-right {
    width: 100% !important;
  }
}
@media screen and (min-width: 767px) {
  .ProposalDetailPage .ui.grid > .rows > .body-left{
    width: 72% !important;
  }
  .ProposalDetailPage .ui.grid > .rows > .body-right {
    width: 28% !important;
  }
}